<div class="grid">
  <div class="col title">
    <h2>Síguenos</h2>
    <button [style]="{'border-color': 'black !important'}" pButton pRipple type="button" icon="pi pi-facebook" class="p-button-rounded p-button-outlined"></button>
    <button [style]="{'border-color': 'black !important'}" pButton pRipple type="button" icon="pi pi-instagram
    " class="p-button-rounded p-button-outlined"></button>
  </div>
  <div class="container-links">
    <div class="1">
      <h4>Nosotros El Asador</h4>
    </div>
    <div class="2">
      <h4>Nuestros Productos</h4>
    </div>
    <div class="3">
      <h4>Nuestras Tiendas</h4>
    </div>
    <div class="4">
      <h4>Trabaje con Nosotros</h4>
    </div>
  </div>
</div>
<div class="last">
  <div class="last1">
    <a href="" class="footer-links">Legal </a>
    <a href="" class="footer-links">Política de privacidad</a>
    <a href="" class="footer-links">Política de cookies</a>
    <a href="" class="footer-links">Términos & Condiciones</a>
    <a href="" class="footer-links">Configuración de coockies</a>
  </div>
  <div class="last2">
    <img class="icon-footer" src="../../../../../assets/icon-footer.png" alt="">
    <p>Copyright © 2022 Solaricca (PAIS)</p>
  </div>
</div>
