<!-- Main container------------------------------------------------------------- -->
<div class="container">
  <!-- Images carousel -->
  <div class="principal">
    <p-carousel
      [value]="carousel"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="3000"
    >
      <ng-template let-carousel pTemplate="item">
        <div class="carousel-content-img">
          <img
            src="{{ carousel.imagen }}"
            alt=""
            onclick="window.location.href='/cart'"
          />
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <!-- ---------------------------------------------------------------------------------- -->
  <!-- Second container ----------------------------------------------------------------------->
  <div class="secundario">
    <!-- Crad 1 -->
    <p-card
      header="¡Sebastián Yatra llegó para compartir su Menú McDonalds!"
      subheader=""
      [style]="{ width: '100%' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img class="card-img" alt="Card" src="../../../assets/Image-carousel/carousel-06.jpg" />
      </ng-template>
      <p class="content">¿Qué esperas para probarlo?</p>
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="Comprar"
          class="button"
          onclick="window.location.href='../cart'"
        ></button>
      </ng-template>
    </p-card>
    <!-- Card 2 -->
    <p-card
      header="¡Sebastián Yatra llegó para compartir su Menú McDonalds!"
      subheader=""
      [style]="{ width: '100%' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img class="card-img" alt="Card" src="../../../assets/Image-carousel/carousel-05.jpg" />
      </ng-template>
      <p class="content">¿Qué esperas para probarlo?</p>
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="Comprar"
          class="button"
          onclick="window.location.href='../cart'"
        ></button>
      </ng-template>
    </p-card>
    <!-- card 3 -->
    <p-card
      header="¡Sebastián Yatra llegó para compartir su Menú McDonalds!"
      subheader=""
      [style]="{ width: '100%' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img class="card-img" alt="Card" src="../../../assets/Image-carousel/carousel-04.jpg" />
      </ng-template>
      <p class="content">¿Qué esperas para probarlo?</p>
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="Comprar"
          class="button"
          onclick="window.location.href='../cart'"
        ></button>
      </ng-template>
    </p-card>
  </div>
</div>
