<!-- Main container------------------------------------------------------------- -->
<div class="container">
  <!-- Images carousel -->
  <p-carousel
    [value]="images"
    [numVisible]="1"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
    class="Carousel"
  >
    <ng-template let-car pTemplate="item" class="carousel-template">
      <div class="carousel-content-img">
        <img
          [src]="images[0]"
          alt=""
          onclick="window.location.href='../cart'"
        />
      </div>
    </ng-template>
  </p-carousel>
  <!-- ---------------------------------------------------------------------------------- -->
<!-- Second container ----------------------------------------------------------------------->
  <div class="secundario">
    <!-- Crad 1 -->
    <p-card
      header="¡Sebastián Yatra llegó para compartir su Menú McDonalds!"
      subheader=""
      [style]="{ width: '100%' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img class="card-img" alt="Card" src="../../../assets/test.jpeg" />
      </ng-template>
      <p class="content">¿Qué esperas para probarlo?</p>
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="Comprar"
          class="button"
          onclick="window.location.href='../cart'"
        ></button>
      </ng-template>
    </p-card>
    <!-- Card 2 -->
    <p-card
      header="¡Sebastián Yatra llegó para compartir su Menú McDonalds!"
      subheader=""
      [style]="{ width: '100%' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img class="card-img" alt="Card" src="../../../assets/test.jpeg" />
      </ng-template>
      <p class="content">¿Qué esperas para probarlo?</p>
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="Comprar"
          class="button"
          onclick="window.location.href='../cart'"
        ></button>
      </ng-template>
    </p-card>
    <!-- card 3 -->
    <p-card
      header="¡Sebastián Yatra llegó para compartir su Menú McDonalds!"
      subheader=""
      [style]="{ width: '100%' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img class="card-img" alt="Card" src="../../../assets/test.jpeg" />
      </ng-template>
      <p class="content">¿Qué esperas para probarlo?</p>
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="Comprar"
          class="button"
          onclick="window.location.href='../cart'"
        ></button>
      </ng-template>
    </p-card>
  </div>
</div>
