<!-- Main container------------------------------------------------------------- -->
<div class="container">
  <!-- Images carousel -->
  <div class="principal">
    <p-carousel
      [value]="products"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="3000"
    >
      <ng-template let-carousel pTemplate="item">
        <div class="carousel-content-img">
          <img
            src="{{ carousel.foto_carusel }}"
            alt="carousel"
            (click)="addCart(carousel)"
          />
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <!-- ---------------------------------------------------------------------------------- -->
  <!-- Second container ----------------------------------------------------------------------->
  <div class="secundario" >
    <!-- Crads ------------------ -->
      <p-card
      header="{{element.descripcion_corta}}"
      subheader=""
      [style]="{ width: '100%' }"
      styleClass="p-card-shadow"
      *ngFor="let element of products"
    >
      <ng-template pTemplate="header">
        <img class="card-img" alt="Card" src="../../../assets/articulos/007073.png"/>
      </ng-template>
      <p class="content">{{element.descripcion}}</p>
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="Comprar"
          class="button"
          (click)="addCart(element)"
        ></button>
      </ng-template>
    </p-card>
  </div>
</div>
