<div class="overlay">
  <div class="content">
    <h3>Escoge una opcion</h3>
    <!-- metodo envio -->
    <div class="MetodoEnvioContent">
      <p-radioButton
        class="radioButton"
        name="groupname"
        value="val1"
        [(ngModel)]="selectedValue"
        label="Envio"
      ></p-radioButton>
      <p-radioButton
        class="radioButton"
        name="groupname"
        value="val1"
        [(ngModel)]="selectedValue"
        label="Envio"
      ></p-radioButton>
    </div>
    <!-- envio -->
    <div class="envioContent"></div>
    <!-- retiro -->
    <div class="retiroContent"></div>
  </div>
</div>
