.container{
  display: grid;
  grid-template-columns: 5% 90%;
  align-items: center;
  justify-content: center;
  padding: 5px 30px;
  width: 100%;
  position: fixed;
  background: white;
  top: 0;
  z-index: 10;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.content-options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-options ul{
  display: flex;
  align-items: center;
  list-style: none;

}
.content-options ul li{
  padding: 3px 25px;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav{
  border: none;
}

.container-user-actions{
  display: flex;
  align-items: center;
}

.content-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0px;
}

.content-actions{
  display: flex;
  flex-direction: row;
  align-items: center;
}

:host ::ng-deep .country-item.ng-star-inserted{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flag.flag{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button{
  background-color: #E6B404;
  border: none;
}
.button:hover{
  background-color: #c39900;
  border: none;
}

:host ::ng-deep .p-button-label {
  font-weight: 400;
  color: black !important;
}
:host ::ng-deep .p-megamenu{
  background-color: white !important;
  border: none;
}
.content-img{
  width: 100%;
  height: auto;
}

.content-actions{
  margin-right: 15px;
}

.content-actions :host ::ng-deep .p-button-text{
  padding: 5px;
}

:host ::ng-deep .content-country .p-dropdown.p-component{
  border: none;
  margin: 0px 15px;
}

:host ::ng-deep .p-dropdown-label.p-inputtext{
  padding: 5px;
}

:host ::ng-deep .country-item.ng-star-inserted{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 15px;
}

:host ::ng-deep .country-item.ng-star-inserted img{
  width: 25px;
}

:host ::ng-deep .p-dropdown-trigger{
  display: none;
}

.cart:hover{
  cursor: pointer;
}
