<!--Main Container header-->
<nav class="container">
  <!--Main menu container-->
  <div class="col content-options">
    <div class="dropDown">
      <a onclick="window.location.href=''" class="dropDown-a">Productos</a>
      <div class="dropDown-content">
        <a href="">item 1</a>
        <a href="">item 2</a>
        <a href="">item 3</a>
        <a href="">item 4</a>
        <a href="">item 5</a>
        <a href="">item 6</a>
        <a href="">item 7</a>
        <a href="">item 8</a>
        <a href="">item 9</a>
        <a href="">item 10</a>
        <a href="">item 11</a>
        <a href="">item 12</a>
        <a href="">item 13</a>
      </div>
    </div>
    <a onclick="window.location.href='../cart'">Nuestras Tiendas</a>
    <a onclick="window.location.href='../cart'">Nosotros</a>
    <a onclick="window.location.href='../cart'">Carrito</a>
  </div>
  <!--Image Container-->
  <div class="col content-img">
    <img
      src="../../../../../assets/icon_site.png"
      alt=""
      height="auto"
      width="100%"
    />
  </div>
  <!--Second menu container-->
  <div class="col content-options2">
    <div class="container-user-actions">
      <div class="content-actions">
        <button
          pButton
          type="button"
          label="Iniciar sesion"
          class="p-button-text"
        ></button>
        <div
          style="
            border-left: 1px solid #000;
            height: 1.3rem;
            margin: 0;
            padding: 0;
          "
        ></div>
      </div>
      <div class="content-country">
        <p-dropdown
          [options]="countries"
          (ngModel)="(selectedCountry)"
          optionLabel="name"
          placeholder=""
        >
          <ng-template pTemplate="selectedItem" let-item>
            <div
              class="country-item country-item-value"
              *ngIf="selectedCountry"
            >
              <img
                src="../../../../../assets/icon-espana.png"
                [class]="'flag flag ' + item.code.toLowerCase()"
                width="30px"
              />
              <div>{{ item.name }}</div>
            </div>
          </ng-template>
          <ng-template let-country pTemplate="item">
            <div class="country-item">
              <img
                src="../../../../../assets/icon-espana.png"
                [class]="'flag flag-' + country.code.toLowerCase()"
              />
              <div>{{ country.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="content-filter">
        <!-- <p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)"
            [dropdown]="true"></p-autoComplete> -->
        <i class="pi pi-search" style="font-size: 1.3rem"></i>
        <i
          routerLink="/cart"
          class="pi pi-shopping-cart cart"
          style="font-size: 1.3rem; margin-left: 15px"
        ></i>
      </div>
    </div>
  </div>
</nav>
