<!-- side Bar responsive  -->
<p-sidebar [(visible)]="sideBar" position="right" [baseZIndex]="10000" class="sideBarBar">
  <div class="sideBarContent">
    <ul>
      <li>
        <a onclick="window.location.href=''">Nuestra selección</a>
        <a onclick="window.location.href=''">Comidas caseras</a>
        <a onclick="window.location.href=''">Platos frios</a>
        <a onclick="window.location.href=''">Repostería</a>
        <a onclick="window.location.href=''">bebidas</a>
      </li>
    </ul>
    <div class="btnLogin">
      <button pButton type="button" label="Iniciar Sesion"></button>
    </div>
  </div>
</p-sidebar>
<!--Main Container header-->
<nav class="container-header">
  <!--Main menu container-->
  <div class="col content-options">
    <div class="dropDown">
      <a class="dropDown-a" [routerLink]="['']">Nuestra selección</a>
      <div class="dropDown-content cero">
          <div class="dropDown-column" *ngFor="let element of nuestra">
            <a (click)="addCart(element)"><img [src]="element.foto_carrito" alt="product" class="image-submenu">{{element.descripcion_corta}}</a>
        </div>
      </div>
    </div>
    <div class="dropDown1">
      <a class="dropDown-a" [routerLink]="['']">Comidas caseras</a>
      <div class="dropDown-content uno">
          <div class="dropDown-column" *ngFor="let element of comidas">
            <a (click)="addCart(element)"><img [src]="element.foto_carrito" alt="product" class="image-submenu">{{element.descripcion_corta}}</a>
        </div>
      </div>
    </div>
    <div class="dropDown2">
      <a class="dropDown-a" [routerLink]="['']">Platos frios</a>
      <div class="dropDown-content dos">
          <div class="dropDown-column" *ngFor="let element of platos">
            <a (click)="addCart(element)"><img [src]="element.foto_carrito" alt="product" class="image-submenu">{{element.descripcion_corta}}</a>
        </div>
      </div>
    </div>
    <div class="dropDown3">
      <a class="dropDown-a" [routerLink]="['']">Repostería</a>
      <div class="dropDown-content tres">
          <div class="dropDown-column" *ngFor="let element of reposteria">
            <a (click)="addCart(element)"><img [src]="element.foto_carrito" alt="product" class="image-submenu">{{element.descripcion_corta}}</a>
        </div>
      </div>
    </div>
    <div class="dropDown4">
      <a class="dropDown-a" [routerLink]="['']">Bebidas</a>
      <div class="dropDown-content cuatro">
          <div class="dropDown-column" *ngFor="let element of bebidas">
            <a (click)="addCart(element)"><img [src]="element.foto_carrito" alt="product" class="image-submenu">{{element.descripcion_corta}}</a>
        </div>
      </div>
    </div>
  </div>

  <!--Image Container-->
  <div class="col content-img">
    <img
      src="../../../../../assets/icon_site.png"
      alt=""
      style="width: 100px; height: 80px; object-fit: contain;"
      [routerLink]="['']"
    />
  </div>
  <!--Second menu container-->
  <div class="col content-options2">
    <!-- LOGIN -->
    <div class="container-user-actions">
      <div class="content-actions">
        <button
          pButton
          type="button"
          label="Iniciar sesion"
          class="p-button-text"
          onclick="window.location.href='login'"
          *ngIf="!api.loggedIn()"
        ></button>
        <!-- LOGOUT -->
        <button
          pButton
          type="button"
          label="Cerrar sesion"
          class="p-button-text"
          *ngIf="api.loggedIn()"
          (click)="api.logoutUser()"
        ></button>
        <div
          style="
            border-left: 1px solid #000;
            height: 1.3rem;
            margin: 0;
            padding: 0;
          "
        ></div>
      </div>
      <!-- Select countries--------------------------- -->
      <div class="content-country">
        <p-dropdown
          [options]="countries"
          (ngModel)="(selectedCountry)"
          optionLabel="name"
          placeholder=""
        >
          <ng-template pTemplate="selectedItem" let-item>
            <div
              class="country-item country-item-value"
              *ngIf="selectedCountry"
            >
              <img
                src="../../../../../assets/icon-espana.png"
                [class]="'flag flag ' + item.code.toLowerCase()"
                width="30px"
              />
              <div>{{ item.name }}</div>
            </div>
          </ng-template>
          <ng-template let-country pTemplate="item">
            <div class="country-item">
              <img
                src="../../../../../assets/icon-espana.png"
                [class]="'flag flag-' + country.code.toLowerCase()"
              />
              <div>{{ country.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="content-filter">
        <!-- <p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)"
            [dropdown]="true"></p-autoComplete> -->
        <i class="pi pi-search" style="font-size: 1.3rem"></i>
        <i
          routerLink="/cart"
          class="pi pi-shopping-cart cart"
          style="font-size: 1.3rem; margin-left: 15px"
        ></i>
      </div>
    </div>
    <div class="sidebar">
      <button pButton type="button" class="mr-2" (click)="sideBar = true" icon="pi pi-bars"></button>
    </div>
  </div>
</nav>
