<!--Main Container header-->
<nav class="container">
  <!--Main menu container-->
  <div class="col content-options">
    <div class="dropDown">
      <a class="dropDown-a" [routerLink]="['']">Productos</a>
      <div class="dropDown-content">
        <div class="dropDown-column" *ngFor="let element of products">
          <a (click)="addCart(element)"><img src="{{element.foto_carrito}}" alt="product" class="image-submenu">{{element.descripcion_corta}}</a>
        </div>
      </div>
    </div>
    <a onclick="window.location.href=''">Nuestras Tiendas</a>
    <a onclick="window.location.href=''">Nosotros</a>
    <a [routerLink]="['/cart']">Carrito</a>
  </div>
  <!--Image Container-->
  <div class="col content-img">
    <img
      src="../../../../../assets/icon_site.png"
      alt=""
      height="auto"
      width="100%"
      [routerLink]="['']"
    />
  </div>
  <!--Second menu container-->
  <div class="col content-options2">
    <!-- LOGIN -->
    <div class="container-user-actions">
      <div class="content-actions">
        <button
          pButton
          type="button"
          label="Iniciar sesion"
          class="p-button-text"
          onclick="window.location.href='login'"
          *ngIf="!api.loggedIn()"
        ></button>
        <!-- LOGOUT -->
        <button
          pButton
          type="button"
          label="Cerrar sesion"
          class="p-button-text"
          *ngIf="api.loggedIn()"
          (click)="api.logoutUser()"
        ></button>
        <div
          style="
            border-left: 1px solid #000;
            height: 1.3rem;
            margin: 0;
            padding: 0;
          "
        ></div>
      </div>
      <!-- Select countries--------------------------- -->
      <div class="content-country">
        <p-dropdown
          [options]="countries"
          (ngModel)="(selectedCountry)"
          optionLabel="name"
          placeholder=""
        >
          <ng-template pTemplate="selectedItem" let-item>
            <div
              class="country-item country-item-value"
              *ngIf="selectedCountry"
            >
              <img
                src="../../../../../assets/icon-espana.png"
                [class]="'flag flag ' + item.code.toLowerCase()"
                width="30px"
              />
              <div>{{ item.name }}</div>
            </div>
          </ng-template>
          <ng-template let-country pTemplate="item">
            <div class="country-item">
              <img
                src="../../../../../assets/icon-espana.png"
                [class]="'flag flag-' + country.code.toLowerCase()"
              />
              <div>{{ country.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="content-filter">
        <!-- <p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)"
            [dropdown]="true"></p-autoComplete> -->
        <i class="pi pi-search" style="font-size: 1.3rem"></i>
        <i
          routerLink="/cart"
          class="pi pi-shopping-cart cart"
          style="font-size: 1.3rem; margin-left: 15px"
        ></i>
      </div>
    </div>
  </div>
</nav>
