.container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px 30px;
  width: 100%;
  position: fixed;
  background: white;
  top: 0;
  z-index: 10;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%);
  font-family: 'Bebas Neue';
}

/* start buttons */
.content-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.content-options > a{
  font-weight: 400;
  padding: 20px;
  cursor: pointer;
}
.content-options > a:hover{
  text-decoration: underline #000;
}
/* DropDown ----------------------------------------------------*/
.dropDown{
  float: left;
  overflow: hidden;
}

.dropDown-a{
  padding: 20px;
}
a{
  text-decoration: none;
}
.dropDown-a:hover{
  text-decoration: underline #000;
  cursor: pointer;
}

.dropDown-content{
  display: none;
  /* flex-direction: row; */
  grid-template-columns: 33% 33% 33%;
  position: absolute;
  background-color: #fff;
  width: 96%;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0 0 0 /10%);
  z-index: 1;
}

.dropDown-column{
  align-items: center;
}

.dropDown-column > a {
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropDown-column:hover{
  opacity: 50%;
}

.image-submenu{
  width: 80px;
  margin: 0px 0px 30px 50px;
}

.dropDown:hover .dropDown-content{
  display: grid;
}
/* ----------------------------------------------------------------- */



.content-options2 {
  display: grid;
  align-items: center;
  justify-items: end;
}

.content-options2 ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.content-options2 ul li {
  padding: 3px 25px;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav {
  border: none;
}

.container-user-actions {
  display: flex;
  align-items: center;
}

.content-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0px;
}

.content-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

:host ::ng-deep .country-item.ng-star-inserted {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flag.flag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.button {
  background-color: #e6b404;
  border: none;
}
.button:hover {
  background-color: #c39900;
  border: none;
}

:host ::ng-deep .p-button-label {
  font-weight: 400;
  color: black !important;
}
:host ::ng-deep .p-megamenu {
  background-color: white !important;
  border: none;
}
.content-img {
  width: 100px;
  height: auto;
  margin: auto;
  cursor: pointer;
}

.content-actions {
  margin-right: 15px;
}

.content-actions :host ::ng-deep .p-button-text {
  padding: 5px;
}

:host ::ng-deep .content-country .p-dropdown.p-component {
  border: none;
  margin: 0;
}

:host ::ng-deep .p-dropdown-label.p-inputtext {
  padding: 5px;
}

:host ::ng-deep .country-item.ng-star-inserted {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 15px;
}

:host ::ng-deep .country-item.ng-star-inserted img {
  width: 25px;
}

:host ::ng-deep .p-dropdown-trigger {
  display: none;
}

.cart:hover {
  cursor: pointer;
}
