<!-- LOGIN container-------------------- -->
<div class="container">
  <div class="content-login">
    <div class="container-img">
      <img src="../../../assets/icon_site.png" alt="" />
    </div>
    <span class="p-float-label">
      <input id="input-email" type="email" pInputText />
      <label for="email">Direccion de correo</label>
    </span>
    <span class="p-float-label">
      <input id="input-password" type="password" pInputText />
      <label for="input-password">Contraseña</label>
    </span>
    <div class="button-container">
      <button pButton class="button" label="Iniciar Sesion"></button>
      <button pButton class="button" label="Registrarse"></button>
    </div>
    <a href="">¿ Olvidó su contraseña ?</a>
  </div>
</div>
